
@media screen and (min-width: 1201px) {
   .logo__title{
      font-size: 9px;
      line-height: 10px;
      margin-top: 34px;

   }
    .menu__item{
      height: 33px;
   }
}
@media screen and (max-width: 1200px) {
   .logo__title{
      font-size: 7px;
      line-height: 7px;
      margin-top: 30px;
   }
   .menu__item{
      font-size: 12px;
      height: 27px;
   }
}