@font-face {
    font-family: "GloberThin";
    src: url("../fonts/GloberThin/GloberThin.eot");
    src: url("../fonts/GloberThin/GloberThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GloberThin/GloberThin.woff") format("woff"),
    url("../fonts/GloberThin/GloberThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GloberBold"; */
@font-face {
    font-family: "GloberBold";
    src: url("../fonts/GloberBold/GloberBold.eot");
    src: url("../fonts/GloberBold/GloberBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GloberBold/GloberBold.woff") format("woff"),
    url("../fonts/GloberBold/GloberBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


.page {
	min-width: 1024px;
    
}
.row {
	width: 100%;
	overflow: hidden;
    
}
.header {
    max-width: 62%;
    margin: 0 auto;
    overflow: hidden;;
    
}
.header-content {
    overflow: hidden;
    
}
.logo {
    width: 25%;
    float: left;
    
}
.logo__img {
    width: 63%;
    margin-top: 23px;
    margin-left: -1%;
    
}
.logo__title {
    float: right;
    font-family: GloberBold;
    text-transform: uppercase;
    width: 38%;
    
}
.city-info {
    float: left;
    width: 55%;
    
}
.date {
    font-family: "GloberThin";
    text-transform: uppercase;
    font-size: 22px;
    margin-left: 3.2%;
    margin-top: 28px;
    margin-bottom: 0px;
    
}
.city {
    font-family: "GloberBold";
    text-transform: uppercase;
    font-size: 23px;
    margin-left: 3.2%;
    margin-top: -1px;;;
    
}
.col_right {
    float: right;
    width: 20%;
    margin-top: 16px;
    
}
.social {
    float: left;
    width: 100%;
    height: 34px;
    margin-top: 0px;
    
}
.social__link {
    display: block;
    background-image: url('../images/social.png');
    background-repeat: no-repeat;
    width: 16%;
   	height: 95%;
    float: left;
    background-size: 634%;
    margin: 0% 2%;
    margin-top: 3px;
    outline: none;
    text-decoration: none;;
}
.social__link-1 {
    
}
.social__link-2 {
    background-position: 25% 0%;
    
}
.social__link-3 {
    background-position: 50% 0%;
    
}
.social__link-4 {
    background-position: 75% 0%;
    
}
.social__link-5 {
    background-position: 100% 0%;
    
}
.language {
    float: right;
    width: 59%;
    margin-top: 18px;;
}
.language__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'GloberBold';
    color: #999;
    float: left;
    font-size: 13px;
}
.language__link_eng {
   
    
}
.slash {
        font-weight: bold;

    font-size: 13px;
    margin: 0% 2%;
    margin-top: -3px;
    color: #999;
    float: left;
}
.language__link_ru {
    
}
.menu {
    margin-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px;;
    
}
.menu__item {
    display: inline-block;
    text-decoration: none;
    font-family: "GloberBold";
    text-transform: uppercase;
    color: #fff;
    padding-top: 16px;
    width: 100%;
    text-align: center;;
    
    
}
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.menu>li{
	list-style: none;
	float: left;
	margin: 0 0.65%;
	width: 24%;
}
.menu>li:first-child{
	margin-left: 0px;
}
.menu>li:last-child{
	margin-right: 0px;
}
.menu__item_orang {
    background-color: #FF9403;
    
}
.menu__item_blau {
    background-color: #02B0F5;
    
}
.menu__item_fiol {
    background-color: #A62292;
    
}
.menu__item_green {
    background-color: #8FBB30;
    
}
.slider {
    
}
.content {
    margin: 0 auto;
    width: 62%;
    margin-bottom: 69px;
    
}
.col {
    float: left;
    width: 47.5%;
    
}
.row-cont{
    margin-top: 47px;
	
}
.content .col:first-child{
	margin-right: 2.5%;
}
.content .col:last-child{
	margin-left: 2.5%;
}
.article {
    overflow: hidden;
    margin-top: 0px;
    
}
.article-head {
    
}
.article-head__txt_oarng{
    background-color: #FF9403;

}
.article-head__txt_blau{
    background-color: #02B0F5;
	
}
.article-head__txt_fiol{
    background-color: #A62292;
	
}
.article-head__txt_green{
    background-color: #8FBB30;
	
}
.article-head__txt {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    height: 31px;
    margin-top: 0px;
    padding-top: 17px;
    width: 61.5%;
    padding-left: 4%;
    font-family: "GloberBold";
    font-size: 18px;
    float: left;;
    
}
.article-head__bild {
    width: 34.5%;
    height: 48px;
    float: left;
    
}
.bild1 {
    
    background-image: url('../images/img1.jpg');
    background-size: cover;
    
}
.article__txt {
    width: 100%;
    font-family: "GloberThin";
    text-transform: uppercase;
    margin-top: 11px;
    margin-bottom: 8px;
    
}
.article__link {
    color: #000;
    font-family: "GloberBold";
    
}
.bild2 {
    
    background-image: url('../images/img3.jpg');
    background-size: cover;
}
.bild3 {
    
    background-image: url('../images/img2.jpg');
    background-size: cover;

}
.bild4 {
    
    background-image: url('../images/img4.jpg');
    background-size: cover;
    
}
.footer {
    background-color: #000;
    height: 54px;
    overflow: hidden;
    
}
.footer__txt {
    color: #999;
    font-family: "GloberThin";
    font-size: 12px;
    display: block;
    margin: 0 auto;
    width: 62%;
    margin-top: 15px;
    
}
.footer__txt>span {
	font-family: "GloberBold";
	color: #fff;
}

/********SLIDER********/
.rslides {
  margin: 0 auto 40px;
  }



.events {
  list-style: none;
  }

.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 53%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 12%;
  width: 2%;
 
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }
	.prev{
	 	background: transparent url("../images/str-left.png") no-repeat left top;
	 	margin-left: 4%;
	 	background-size: cover;
	}
	.next{
		 background: transparent url("../images/str-right.png") no-repeat right top;
		 margin-right: 4%;
		 background-size: cover;
	}


